# Default ignored files
/shelf/
.idea/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\24216\Desktop\test\gittestproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
